<section class="login-section">
  <form class="login-form">
    <img class="logo" src="/assets/logo.svg" />
    <h1><strong>Sign in</strong> to start creating amazing resumes</h1>
    <span class="separator"> </span>
    <fieldset class="fields">
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <button class="submit" type="submit">
        Sign In
      </button>
    </fieldset>
    <h2> Don't have an account? <a href="#">Sign Up</a> </h2>
  </form>
</section>
