$color: #828282;
$focus-color: #A832F8;
$invalid-color: #D70022;

@mixin field-style {
  transition: all 200ms ease-out;
  position: relative;
  display: inline-flex;
  border: 0.02em solid $color;
  height: 3em;
  border-radius: 0.23em;

  &.is-focused {
    border-color: $focus-color;
    .icon { color: $focus-color }
    box-shadow: 0 0 0.3em #A832F8CC;
  }

  &.is-invalid {
    border-color: $invalid-color;
    .icon { color: $invalid-color }
  }

  .field-input, 
  .icon {
    box-sizing: border-box;
    height: 100%;
    border: none;
    background: none;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    color: $color;
  }
}
