@import  '../../../assets/mixins';

.vitae-button {
  @include default-transition($duration: 200ms);
  box-sizing: border-box;
  font-weight: 500;
  background: rgb(218,22,246);
  background: linear-gradient(121deg, rgba(218,22,246,1) 0%, rgba(43,123,253,1) 100%);
  border: 0;
  color: white;
  padding: 1.2em;
  border-radius: 0.3em;
  cursor: pointer;
  box-shadow: 0.2em 0.2em 0.3em rgba(0,0,0,0.25);

  &:hover {
    box-shadow: 0.2em 0.2em 0.3em rgba(0,0,0,0.5);
  }
}
