<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset class="fields">
    <div
      [ngClass]="!this.isEmailValid ? 'is-invalid': ''"
      class="field"
      #emailField>
      <div class="icon"> <fa-icon [icon]="faUser"></fa-icon> </div>
      <input
        class="field-input"
        type="email"
        (focus)="toggleFocus(emailField)"
        (blur)="toggleFocus(emailField)"
        formControlName="email"
        placeholder="Email"/>
    </div>

    <div
      [ngClass]="!this.isPasswordValid ? 'is-invalid': ''"
      class="field"
      #passwordField>
      <div class="icon"> <fa-icon [icon]="faKey"></fa-icon> </div>
      <input
        class="field-input"
        [type]="isPasswordVisible ? 'text' : 'password'"
        (focus)="toggleFocus(passwordField)"
        (blur)="toggleFocus(passwordField)"
        formControlName="password"
        placeholder="Password" />
      <button class='visibility-btn' type='button' (click)="togglePasswordVisibility()">
        <fa-icon [icon]='isPasswordVisible ? faEyeSlash : faEye'>
        </fa-icon>
      </button>
    </div>

  </fieldset>
  <div class="row">
    <button class="forgot-password">
      Forgot password?
    </button>
    <button [disabled]="!form.valid" class="app-button" type="submit">
      Sign Up
    </button>
  </div>
</form>
