$color: #828282;
$focus-color: #A832F8;
$invalid-color: #D70022;

.field {
  transition: all 200ms ease-out;
  position: relative;
  display: inline-flex;
  border: 0.02em solid $color;
  height: 3em;
  border-radius: 0.23em;
  margin: 0.5em 0;

  &.is-invalid {
    border-color: $invalid-color;
    .icon { color: $invalid-color }
  }

  &.is-focused {
    border-color: $focus-color;
    .icon { color: $focus-color }
    box-shadow: 0 0 0.3em #A832F8CC;
  }

  .field-input, 
  .icon {
    box-sizing: border-box;
    height: 100%;
    border: none;
    background: none;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    color: $color;
  }

  .field-input {
    width: 100%;
  }
}

.fields {
  display: flex;
  flex-direction: column;
  border: none;
}

.app-button {
  width: 48%;
  margin-left: auto;
  margin-right: 1em;
}

.forgot-password {
  margin-left: 1em;
  margin-right: auto;
  width: 48%;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: #383838;
  :hover {
    color: black;
  }
}

.visibility-btn {
  color: $color;
  position: absolute;
  right: 0.5em;
  top: 1.25em;
  background: none;
  border: none;
  cursor: pointer;
}
